<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
      <h1>Login</h1>
      <div>
        <form (ngSubmit)="signInWithEmailAndPassword()" #loginForm="ngForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" required [(ngModel)]="loginModel.email" name="email">
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" required id="password" [(ngModel)]="loginModel.password" name="password">
          </div>
          
          <button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid">Login</button>
        </form>
      </div>
      <div [hidden]="!loginError"> {{ loginError?.message }} </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
      <hr>
      <h1>Register</h1>
      <div [hidden]="registrationSubmitted">
        <form (ngSubmit)="register()" #registerForm="ngForm">
          <div class="form-group">
            <label for="email">UNC Email*</label>
            <input type="text" class="form-control" id="email" required [(ngModel)]="registrationModel.email" name="email">
          </div>

          <div class="form-group">
            <label for="password">Password*</label>
            <input type="password" class="form-control" required id="password" [(ngModel)]="registrationModel.password" name="password">
          </div>

          <div class="form-group">
            <label for="confirm-password">Confirm Password*</label>
            <input type="password" class="form-control" required id="confirm-password" [(ngModel)]="registrationModel.confirmPassword" name="confirm-password">
          </div>

          <!--<div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" class="form-control" id="first-name" [(ngModel)]="registrationModel.firstName" name="first-name">
          </div>

          <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" class="form-control" id="last-name" [(ngModel)]="registrationModel.lastName" name="last-name">
          </div>

          <div class="form-group">
            <label for="graduation-year">Graduation Year</label>
            <input type="text" class="form-control" id="graduation-year" [(ngModel)]="registrationModel.graduationYear" name="graduation-year">
          </div>
          -->

          <div class="form-group">
            <label for="is-private">Hide Profile</label>
            <input type="checkbox" id="is-private" [(ngModel)]="registrationModel.isPrivate" name="is-private">
          </div>

          <button type="submit" class="btn btn-default" [disabled]="!registerForm.form.valid">Register</button>
        </form>
      </div>
      <div [hidden]="!registrationSubmitted">
        <p>A verification email has been sent to {{registrationModel.email}}. You will not be able to make posts or comment until you validate your account!</p>
      </div>
      <div [hidden]="!registrationError"> {{ registrationError?.message }} </div>
    </div>
  </div>
</div>