<div class="container">
  <div class="row">
    <h2 class="col-xs-12 col-sm-8 col-sm-offset-2">What's this for?</h2>
  </div>
  <div class="row">
    <p class="col-xs-12 col-sm-8 col-sm-offset-2">"UNC CS Planner" is meant to be a place to plan out your major/minor in the CS department
       as well as be a place where you can ask for advice from fellow computer science students.
       As of right now, that's about it, but feel free to suggest any features you'd like to see!
    </p>
  </div>

  <div class="row">
    <h2 class="col-xs-12 col-sm-8 col-sm-offset-2">Where are COMP 110 &amp; COMP 116?</h2>
  </div>
  <div class="row">
    <p class="col-xs-12 col-sm-8 col-sm-offset-2">Technically, they aren't requirements for the major or minor, so they don't show up in the
      roadmap. If you want to see their page (or any "unlisted" course's page), you can simply go to /courses/&lt;DEPT&gt;/&lt;NUMBER&gt;.
      For example, COMP 110 would be <a href="/courses/COMP/116">/courses/COMP/116</a>.
    </p>
    <p class="col-xs-12 col-sm-8 col-sm-offset-2">
      Also, I'm working on making the /courses/&lt;DEPT&gt; route simply show the entire catalog for the given department!
    </p>
  </div> 

  <div class="row">
    <h2 class="col-xs-12 col-sm-8 col-sm-offset-2">What are some tips for use?</h2>
  </div>
  <div class="row">
    <p class="col-xs-12 col-sm-8 col-sm-offset-2">To tag a comment with any classes that are contained within it, simply add the tag "DEPT XXX",
       where DEPT is the four letter abbreviation for the deparment (e.g. COMP for computer science, PHYS for physics, etc.) and XXX is the
       course number. Doing so will let the post show up on the class' detail view (in the roadmap) as well as in any search with that class.
    </p>
  </div> 

  <div class="row">
    <h2 class="col-xs-12 col-sm-8 col-sm-offset-2">What are my privacy options?</h2>
  </div>
  <div class="row">
    <p class="col-xs-12 col-sm-8 col-sm-offset-2">Currently, you can choose whether to display your profile page for users other than yourself, but that's about it.
      Additionally, all of the authentication is handled using <a href="https://firebase.google.com/products/auth/">Firebase</a>, so I don't know your password! (But you should still probably use one other than your onyen password)
    </p>
  </div> 

  <div class="row">
    <h2 class="col-xs-12 col-sm-8 col-sm-offset-2">Where can I suggest a feature?</h2>
  </div>
  <div class="row">
    <p class="col-xs-12 col-sm-8 col-sm-offset-2">Either make a comment on the post with the tag "Suggestions" or email <a href="mailto:cs-planner@unc.edu">cs-planner@unc.edu</a>
    </p>
  </div> 
</div>