<div class="container">
  <div class="row">
    <h2 class="col-xs-8 col-xs-offset-2">What's this for?</h2>
  </div>
  <div class="row">
    <p class="col-xs-8 col-xs-offset-2">"UNC CS Planner" is meant to be a place to plan out your major/minor in the CS department
       as well as be a place where you can ask for advice from fellow computer science students.
       As of right now, that's about it, but feel free to suggest any features you'd like to see!
    </p>
  </div> 

  <div class="row">
    <h2 class="col-xs-8 col-xs-offset-2">What are some tips for use?</h2>
  </div>
  <div class="row">
    <p class="col-xs-8 col-xs-offset-2">To tag a comment with any classes that are contained within it, simply add the tag "DEPT_XXX",
       where DEPT is the four letter abbreviation for the deparment (e.g. COMP for computer science, PHYS for physics, etc.) and XXX is the
       course number. Doing so will let the post show up on the class' detail view (in the roadmap) as well as in any search with that class.
    </p>
  </div> 

  <div class="row">
    <h2 class="col-xs-8 col-xs-offset-2">What are my privacy options?</h2>
  </div>
  <div class="row">
    <p class="col-xs-8 col-xs-offset-2">Currently, you can choose whether to display your profile page for users other than yourself, but that's about it.
    </p>
  </div> 

  <div class="row">
    <h2 class="col-xs-8 col-xs-offset-2">Where can I suggest a feature?</h2>
  </div>
  <div class="row">
    <p class="col-xs-8 col-xs-offset-2"> TBA
    </p>
  </div> 
</div>