.options-row {
    margin-bottom: 30px;
}

.options-col {
    display: flex;
}

form {
    border: thin solid #5C839E;
    padding: 2em;
}

.post-form {
    float: initial;
    margin: 1em auto;
}

button:focus, button:active {
    outline: none;
}

textarea {
    resize: vertical;
}

.form-post-text, .form-post-tags {
    margin-bottom: 1em;
}

.post-container {
    display: flex;
    flex-wrap: wrap;
}
