<div class="container">
  <div class="row">
    <h2 class="col-xs-12">Posts</h2>
  </div>
  
  <!-- The row of options and buttons -->
  <div class="row options-row">
    <div class="col-xs-12 options-col">
      <div class="input-group col-xs-8 col-sm-4" id="tag-search-group">
        <input class="form-control" id="tag-filter" [(ngModel)]="filterTag" type="text" placeholder="Tag">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" (click)="filterPosts()">Search by tag</button>
        </span>
      </div>
      <button id="post-button" class="btn btn-default col-xs-4 col-sm-2" [disabled]="!authService.authenticated" (click)="toggleMakingPost()">Make a post</button>
    </div>
  </div>
 
 <!-- The row for the forrm to submit a new post -->
  <div class="row">
    <div class="col-xs-12 col-sm-6 post-form" *ngIf="authService.authenticated" [hidden]="!makingPost" >
      <form #postForm="ngForm">
        <textarea class="form-post-text form-control" [(ngModel)]="model.text" name="text" required placeholder="Post text"></textarea>
        <input class="form-post-tags form-control" [(ngModel)]="model.tags" name="tags" mdInput type="text" placeholder="Tags">
        <button class="btn btn-default" (click)="submitPost()" [disabled]="!postForm.form.valid">Submit Post</button>
      </form>
    </div>


    <!-- The posts -->
    <mat-grid-list cols="2">
      <mat-grid-tile *ngFor="let post of posts">
        <app-post class="col-xs-12 col-sm-6"  [post]="post"></app-post>
      </mat-grid-tile>
    </mat-grid-list>

    <div *ngIf="posts?.length === 0" class="text-center">
      <span class="h2">No posts were found!</span>
    </div>
  </div>
</div>



