h2 {
    line-height: .5em;
}

.interactions {
    margin-bottom: 1em;
}

.course-title {
    display: inline-block;
    background-color: #7BAFD4;
    padding: .25em .5em;
    color: white;
    border-radius: .5em;
    margin: 5px;
    cursor: pointer;
}

.course-title-row {
    margin-left: -5px;
    margin-right: -5px;
}

#name {
    background-color: #5C839E;
    color: white;
    margin-top: 15px;
}

.card:first-of-type {
    margin-left: .25em;
}

.card:last-of-type {
    margin-right: .25em;
}

.card {
    display: inline-block;
    margin-top: .25em;
    margin-left: .5em;
    margin-right: .5em;
    margin-bottom: -15px;
}