.comment {
    padding-left: 1em; 
}

.comment-bar {
    border-left: thin solid rgba(0, 0, 0, .2);
}

.comment-user {
    opacity: .6;
    transition: opacity .2s ease-in-out;

    margin-bottom: 0;
}

.comment-edited {
    font-size: .5em;
    margin-bottom: .5em;
    opacity: .4;
}

.comment-user:hover {
    opacity: 1;
}

.comment-text {
    margin-bottom: .5em;
    word-wrap: break-word;
}

.comment-reply textarea {
    resize: vertical;
    min-height: 1em;
}

.comment-reply > button {
    margin-top: .5em;
    margin-bottom: .5em;
}

.comment-interaction {
    font-size: .75em;
    text-transform: lowercase;
}

.comment-interaction:hover {
    cursor: pointer;
    text-decoration: underline;
}

.comment-like {
    color: #7bafd4;
    height: min-content;
    width: min-content;
    font-size: .75em;
    cursor: pointer;
}