<div [ngClass]="{'comment-bar': level > 0}" class="comment">
  <!-- Display the user's full name (if provided) and the date of the post -->
  <p class="comment-user">
    <span *ngIf="comment.likes && !comment.redacted">
      {{ likes }} <mat-icon class="comment-like" (click)="toggleLike()">thumb_up</mat-icon> |
    </span>
    <a [routerLink]="['/profile', comment.uid]">{{ comment.displayName }}</a> on {{ comment?.date | date }} at {{ comment?.date | date:'shortTime' }}
    
    <!-- Allow the user to collapse the comment tree -->
    <a (click)="hideSelf = !hideSelf">
      [<span *ngIf="hideSelf">+{{ getNumComments(comment) }}</span><span *ngIf="!hideSelf">-</span>]
    </a>
  </p>

  <!-- The comment text and interactions -->
  <div [hidden]="hideSelf" class="comment-body">
    <p class="comment-edited" *ngIf="comment?.edited">Edited on {{ comment?.editDate | date }} at {{ comment?.editDate | date:'shortTime' }}</p>
    <div [hidden]="editingReply" class="comment-text" [innerHTML]="comment.text | paragraphs"></div>

    <p>
      <span *ngIf="authService.authenticated && !editingReply && !makingReply" (click)="toggleLike()">
        <span class="comment-interaction" [hidden]="comment?.likes[authService.uid]">Like</span>
        <span class="comment-interaction" [hidden]="!comment?.likes[authService.uid]">Unlike</span>
        <span class="comment-interaction" (click)="toggleMakingReply()">Reply</span>
      </span>
      <span *ngIf="shouldShowInteractions()">
        <span class="comment-interaction" [hidden]="comment.redacted" (click)="editingReply = true">Edit</span>
        <span class="comment-interaction" [hidden]="comment.redacted || comment.comments?.length === 0" (click)="redactComment()">Redact</span>
        <span class="comment-interaction" [hidden]="comment.comments?.length !== 0" (click)="deleteComment()">Delete</span>
      </span>
    </p>

    <!-- The reply form -->
    <form *ngIf="makingReply" class="comment-reply">
        <textarea required class="form-control" [(ngModel)]="replyText" name="replyText" placeholder="Leave a reply"></textarea>
        <button class="btn btn-default" (click)="submitComment()">Reply</button>
        <button class="btn btn-default" (click)="makingReply = false">Cancel</button>
    </form>

    <!-- The edit form -->
    <form *ngIf="editingReply" class="comment-reply">
        <textarea required class="form-control" [(ngModel)]="editText" name="editText"></textarea>
        <button class="btn btn-default" (click)="saveEdit()">Save</button>
        <button class="btn btn-default" (click)="editingReply = false">Cancel</button>
    </form>

    <!-- Tree of subcomments -->
    <div *ngIf="comment.comments?.length > 0">
        <app-comment *ngFor="let comment of comment?.comments" [comment]="comment" [level]="level + 1" [parentPath]="comment.path" >
        </app-comment>
    </div>
  </div>
</div>